:host {
    display: block; /* Asegura que el :host llene el contenedor */
    background-color: #808080; /* Gris */
    min-height: 100vh; /* O la altura que prefieras */
  }

  .login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
}

.btn-primary:hover {
    background-color: #0056b3;
}
